# Môi trường ảo Python
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Dữ liệu sinh ra trong quá trình chạy (Rác, Cache, Model 3D)
data/feedback/*
# data/outputs/* (cho phép push thư mục output)
data/outputs/*
!data/cache/.gitkeep
!data/feedback/.gitkeep
# !data/outputs/.gitkeep
!data/uploads/.gitkeep

# Checkpoint weights của AI Model (File quá nặng không nên push lên Git)
*.ckpt

# Các thư mục linh tinh của OS và IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
